.list {
    display: flex;
    flex-direction: column;
    align-items: center;

}
.list__content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.list__hr {
    border: 1px solid #E5E7EB;
    width: 100%;
}
.list__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    height: 74px;
    gap: 15px;
    padding: 0 14px;
}

.list__image {
    width: 32px;
    height: 32px;
    border-radius: 20px;
}

.list__data {
    display: grid;
    justify-items: start;
    align-content: space-between;
    justify-content: start;
    width: 100%;
    padding: 0 16px;
}

.list__name {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 21px;
    color: #111827;
}

.list__text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #6B7280;
}

.list__button {
    height: 25px;
    width: 25px;
    border-radius: 20px;
    border: none;
    background-color: transparent;
}

.list__button_name {
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
}

.list__link {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.list__icon {

}